files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 2048;
      types_hash_bucket_size 128;

      upstream streamlit {
        server 127.0.0.1:8000;
      }
      
      server {
        listen 80;
        location / {
          proxy_pass http://streamlit;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_read_timeout 86400;
        }
      }

container_commands:
  01_reload_nginx:
    command: "service nginx reload" 