option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8501
    PYTHONPATH: "/var/app/current"

container_commands:
  01_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt
  02_reload_nginx:
    command: |
      systemctl reload nginx.service || systemctl restart nginx.service
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_copy_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cp /var/app/current/.env /var/app/staging/.env