packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    BEDROCK_AGENT_ID: "HQK9MJB3ZA"
    BEDROCK_AGENT_ALIAS_ID: "7XTWPEBICD"
    BEDROCK_AGENT_TEST_UI_TITLE: "FYI Sales Bedrock Agent"
    BEDROCK_AGENT_TEST_UI_ICON: ":bar_chart:"
    PYTHONPATH: "/var/app/current"
    STREAMLIT_SERVER_PORT: "8000"
    STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
    AWS_DEFAULT_REGION: "ap-southeast-2"

container_commands:
  01_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip setuptools wheel
      pip install -r requirements.txt
