Resources:
  SecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 8501
      ToPort: 8501
      SourceSecurityGroupId: 
        Fn::GetAtt: [ AWSEBLoadBalancerSecurityGroup, GroupId ] 