Resources:
  ServiceRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ElasticBeanstalkServicePolicy
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - "elasticloadbalancing:*"
              - "ec2:*"
              - "cloudwatch:*"
              - "autoscaling:*"
              - "s3:*"
              - "cloudformation:*"
              - "iam:PassRole"
            Resource: "*"
      Roles: 
        - Ref: AWSEBServiceRole 